.wholepage{
    background-color: rgb(255,255,204);
    font-family: 'Imbue', serif;
    padding-top: 30px;
    padding-bottom: 70px;
    margin-top: 20px;
}

.title{
    position: relative;
    left: 70px;
}

.link{
    position: relative;
    left: 500px;
}

.brunk{
    padding-right: 20px;
}

.notice{
    color: rgb(102,0,51);
    position: relative;
    left: 90px;
}

table{
    width: 85%;
    margin: 0 auto;
}

th{
    border: solid 3px rgb(51,51,51);
    font-size: 25px;
    padding: 5px;
}

td{
    border: solid 3px rgb(51,51,51);
}

.glasses{
    width: 50px;
    height: auto;
    margin-left: 10px;
}

.pencil{
    width: 70px;
    height: auto;
}

.trash{
    width: 50px;
    height: auto;
}

